<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/user.css">
</head>
<body>
    <h1>Name :<span><%= user.name %> </span> </h1>
    <h1>age :<span> <%= user.age %> </span></h1>
    <h1>phone :<span> <%= user.phone %></span> </h1>
</body>
</html>